.box{
    width: auto;
    
    float:right;
    
    
    
}
.wrap{
    background-color: #e3e3e3;
    overflow: hidden;
}

.imgBox{
    float:left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


